<!DOCTYPE html>
<html lang="en" ng-app="Template">
<head>
    <meta charset="UTF-8">
    <title>Food template 1</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

    <div class="main-wrap" ng-controller="MainController" ng-class="{'main-wrap-display': true}">

        <div class="left-bar">

            <div ng-repeat="day in days" class="one-day" ng-class="{expand: day.selected}" ng-click="selectDay(day)">

                <div class="day-date">
                    <p>{{day.day}}</p>
                    <span>{{day.month}}</span>
                </div>

                <div class="day-title" ng-hide="day.selected">
                    {{day.title}}
                </div>
                <div class="day-cost" ng-hide="day.selected">
                    {{calcCost(day)}} ₽
                </div>

                <div class="day-delivery" ng-show="day.selected">
                    <p>Адрес доставки</p>
                    <span>Радищева 28 в 25 каб.</span>
                </div>
                <div class="food-items" ng-show="day.selected">

                    <div class="food-item" ng-repeat="item in day.items">
                        <div class="title">{{item.name}}</div>
                        <div class="price">{{item.price}} ₽</div>
                    </div>

                    <div class="food-item">
                        <div class="total">Итого:</div>
                        <div class="price">{{calcCost(day)}} ₽</div>
                    </div>
                    <div class="center">
                        <div class="super-button">супер кнопка</div>
                    </div>

                </div>

            </div>
            <div class="order-history">
                <a href="" ng-click="superClick(day)">История заказов</a>
            </div>

        </div>
        <div class="right-bar">

            <div class="type-selector">
                Обычное меню / комбо-обеды
            </div>

            <div class="categories" ng-repeat="(cat, catName) in categories">

                <h3>{{catName}}</h3>

                <div class="food-card" ng-repeat="item in items | filter:{category: cat}">

                    {{item.name}}

                </div>


            </div>

        </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>