@font-face{
    font-family: 'wf_SegoeUI';
    src:url('../fonts/segoe.eot');
    src:url('../fonts/segoe.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoe.woff') format('woff'),
    url('../fonts/segoe.ttf') format('truetype'),
    url('../fonts/segoe.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: wf_SegoeUI, Arial;
    background-color: #f2f2f2;
    font-size: 18px;
}

.center{
    text-align: center;
}

.main-wrap{
    display: none;
    width: 1110px;
    margin: 50px auto 0;
}
.main-wrap-display{
    display: block;
}
.left-bar{
    width: 260px;
    float: left;
    background-color: #0189bd;
    color: #f2f2f2;
    padding: 10px;
    padding-left: 0;
    box-sizing: border-box;
}
.right-bar{
    margin-left: 260px;
    background-color: white;
    padding: 20px 10px 20px 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.one-day{
    overflow: hidden;
    height: 40px;
    margin: 11px 0;
    cursor: pointer;
}
.day-date{
    float: left;
    width: 60px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    border-right: 1px solid #cccccc;
}
.day-date p{
    font-size: 20px;
    font-weight: bold;
}
.day-date span{
    font-size: 13px;
}

.day-title{
    float: left;
    width: 140px;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
}
.day-cost{
    text-align: right;
    font-size: 15px;
    margin: 10px 4px;
}
.order-history{
    text-align: center;
    padding: 10px;
}
.order-history a{
    color: #f2f2f2;
    text-decoration: none;
}

.one-day.expand{
    background-color: #fff;
    color: #333;
    border-left: 6px solid #0189BD;
    padding: 10px 10px 10px 0;
    position: relative;
    margin-left: -6px;
    width: 250px;
    height: auto;
    box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.46);
}
.one-day.expand .day-date{
    border-right: 1px solid #3a3d98;
    height: 44px;
}
.one-day.expand .day-delivery{
    margin-left: 70px;
    width: 190px;
    margin-bottom: 15px;
}
.one-day.expand .day-delivery p{
    font-size: 13px;
    margin-bottom: 5px;
}
.one-day.expand .day-delivery span{
    font-size: 16px;
}
.one-day.expand .food-items{
    clear: left;
}

.food-item{
    font-size: 15px;
    overflow: hidden;
    padding: 5px 10px;
}
.food-item:hover{
    background-color: #e5e5e4;
}
.food-item .title{
    float: left;
    font-size: 16px;
    width: 180px;
}
.food-item .price{
    float: right;
    text-align: right;
}
.food-item a.remove-item{
    color: red;
    float: right;
    margin-left: 5px;
}
.food-item .total{
    float: left;
    margin-left: 110px;
}


.super-button{
    margin-top: 10px;
    display: inline-block;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    padding: 2px 40px 3px;
    font-size: 16px;
    /*font-weight: bold;*/
    cursor: pointer;
}
.super-button:hover{
    background-color: #1a1a1a;
    color: #f2f2f2;
}

.type-selector{
    text-align: center;
}
.type-selector .type-item{
    cursor: pointer;
    font-size: 14px;
    display: inline;
    border: 1px solid #0189BD;
    border-radius: 4px;
    padding: 1px 20px;
    vertical-align: middle;
}
.type-selector .selected{
    background-color: #0189BD;
    color: #F2F2F2;
    font-size: 17px;
    padding: 3px 15px;
}
.type-selector .right-4{
    margin-right: -4px;
}

.categories{

}
.categories h3{
    color: #808080;
    font-size: 34px;
    padding: 25px 0 15px;
    clear: left;
}
.food-card{
    float: left;
    width: 252px;
    height: 330px;
    margin-right: 15px;
    border: 1px solid #cccccc;
    border-bottom: 4px solid #39b54a;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}
.food-card .photo{
    height: 150px;
    background-size: cover;
}
.food-card .info{
    height: 156px;
    overflow: hidden;
}
.food-card .name{
    margin: 8px 0 14px;
}
.food-card .ingredients{
    font-size: 13px;
    margin: 0 15px 10px;
    line-height: 15px;
}
.food-card .weight{
    color: gray;
}
.food-card .price{
    font-size: 32px;
    margin-top: 10px;
}
.food-card .add-button{
    background-color: #39b54a;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 0 5px;
    overflow: hidden;
    display: none;
}
.food-card:hover{
    box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.46);
}
.food-card:hover .add-button{
    display: block;
}

.combo-container h3{
    color: #808080;
    font-size: 34px;
    padding: 25px 0 15px;
    clear: left;
}
.combo{
    height: 330px;
    border: 1px solid #cccccc;
    border-bottom: 4px solid #39b54a;
    cursor: pointer;
    overflow: hidden;
    margin-right: 8px;
}
.combo .combo-items{
    display: inline-block;
    width: 200px;
    height: 245px;
    overflow: hidden;
    text-align: center;
}
.combo .combo-items .photo{
    height: 150px;
    background-size: cover;
}
.combo .combo-items .name{
    margin: 8px 0 14px;
}
.combo .combo-items .ingredients{
    font-size: 13px;
    margin: 0 15px 10px;
    line-height: 15px;
}
.combo .weight{
    color: gray;
    text-align: center;
}
.combo .price{
    font-size: 32px;
    margin-top: 10px;
    text-align: center;
}

.combo .add-button{
    background-color: #39b54a;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 0 5px;
    overflow: hidden;
    display: none;
    text-align: center;
}
.combo:hover{
    box-shadow: 0 0 11px 0 rgba(50, 50, 50, 0.46);
}
.combo:hover .add-button{
    display: block;
}


/* ------------ */

.breadcrumb{
    margin-top: 35px;
    margin-left: 6px;
    border: 2px solid #cccbcb;
    border-radius: 25px;
    height: 45px;
    width: 770px;
    overflow: hidden;
}

.breadcrumb-path {
    list-style: none;
    overflow: hidden;
    margin: auto;
    display: inline-block;
    padding: 0;
    font-size: 14px;
}
.breadcrumb-path li {
    float: left;
}
.breadcrumb-path li span {
    color: #1a1a1a;
    text-decoration: none;
    padding: 16px 0 16px 20px;
    text-align: center;
    width: 177px;
    position: relative;
    display: block;
    float: left;
}
.breadcrumb-path li span:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #a5630d;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2; }

.breadcrumb-path li span:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #cccbcb;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb-path li:first-child span {
    padding-left: 0;
}
.breadcrumb-path li:last-child span {
    width: 376px
}
.breadcrumb-path li span {
    background: #fff;
}
.breadcrumb-path li span:after {
    border-left-color: #fff;
}

.breadcrumb-path .active span {
    background: #e5e5e4;
}
.breadcrumb-path .active span:after {
    border-left-color: #e5e5e4;
}

.breadcrumb-path .complete span {
    background: #459944;
    color: #f2f2f2;
}
.breadcrumb-path .complete span:after {
    border-left-color: #459944;
}
.breadcrumb-path li.splited {
    width: 396px;
}
.breadcrumb-path .sub-crumb {
    height: 22px;
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
}
.breadcrumb-path .sub-crumb:first-child {
    border-bottom: 1px solid #cccbcb;
    padding: 0;
}
.breadcrumb-path .sub-crumb.active {
    background: #e5e5e4;
}
.breadcrumb-path .sub-crumb.complete {
    background: #459944;
    color: #f2f2f2;
}

.breadcrumb-path .sub-path li span{
    padding: 4px 0 4px 20px;
    width: 178px;
}
.pointer{
    cursor: pointer;
}

.center-block{
    text-align: center;
    margin-top: -2px;
}
.nav-price{
    border: 3px solid #cccbcb;
    border-top: none;
    border-radius: 4px;
    width: 195px;
    height: 37px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding-top: 4px;
    box-sizing: border-box;
}